<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Antoine</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <h1> Software Engineering Class SFSU </h1>
    <h2>
        Fall 2023 <br>
        Section 02 <br>
        Team 03
    </h2>


    <div class="content">
        <div class="info">
            <!-- ToDo: change the info -->
            <img src="images/roy.jpg">

            <h3> Antoine PAUL </h3>

            Exchange Student from France, Lille. <br>
            Back-end and Devops/SysAdmin. <br>
            Experience in Python: 2/5.
            

        </div>
    </div>
</body>
</html>