<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="static/css/layout.css">
</head>
<body>
    <!-- Page Header -->
    <h1> Software Engineering Class SFSU </h1>
    <h2>
        Fall 2023 <br>
        Section 02 <br>
        Team 03
    </h2>


    <div class="content">
        <div class="navigation">
            <!-- Links to the Personal Pages -->
            <button onclick="location.href='./about'" disabled><b>Our Team</b></button><p>
            <button onclick="location.href='./about/antoine'">Antoine Paul</button><br>
            <button onclick="location.href='./about/louis'">Louis Leblond</button><br>
            <button onclick="location.href='./about/roy'">Roy Meyer</button><br>
            <button onclick="location.href='./about/sungjun'">Sungjun Yun</button>
        </div>
        <div class="info">
            <h3> Our Team </h3>

            We are a group of four Team members with various different experiences and background.
            <p>
            Click on a name to gain more information!
        </div>
    </div>
</body>
</html>