<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Roy</title> <!-- ToDo: Change it to your Name -->
    <link rel="stylesheet" href="static/css/layout.css">
</head>
<body>
    <!-- Page Header -->
    <h1> Software Engineering Class SFSU </h1>
    <h2>
        Fall 2023 <br>
        Section 02 <br>
        Team 03
    </h2>


    <div class="content">
        <div class="navigation">
            <!-- Links to the Personal Pages -->
            <!-- ToDo: add disabled to the button of your name and remove it from the others-->
            <button onclick="location.href='../about'"><b>Our Team</b></button><p>
            <button onclick="location.href='./antoine'">Antoine Paul</button><br>
            <button onclick="location.href='./louis'">Louis Leblond</button><br>
            <button onclick="location.href='./roy'" disabled>Roy Meyer</button><br>
            <button onclick="location.href='./sungjun'">Sungjun Yun</button>
        </div>
        <div class="info">
            <!-- ToDo: change the info -->
            <img src="images/roy.jpg">

            <h3> Roy Meyer </h3>

            GitHub: <a href="https://github.com/roy-myr">roy-myr</a> <br>
            LinkedIn: <a href="https://www.linkedin.com/in/roy-meyer-251688270/"> Roy Meyer </a>
            <p>

            Exchange Student from Germany. <br>
            Database Engineer of the Team. <br>
            Experience in Python: 4/5.
            

        </div>
    </div>
</body>
</html>