.ReportContainer {
    display: flex;
    flex-wrap: wrap;
    min-height: 90vh;
}

.leftHalf {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.board {
    flex: 1;
    width: 100%;
    border-collapse: collapse;
}

.board td {
    border: 1px solid #ccc;
    padding: 10px;
}

.rightHalf {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.scrollingButton select {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    font-size: 1em;
}

.button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    font-size: 1em;
}

.map-container {
    flex: 1;
    height: 400px;
}

.ReportList {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.ReportItem {
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-bottom: 25px;
}

.emailButton {
    margin-left: 20px;
}

.deptSpan {
    font-weight: bold;
    margin-left: 10px;
}

.deptInput {
    position: absolute;
    left: 250px;
}

@media screen and (max-width: 768px) {
    .leftHalf,
    .rightHalf {
      flex: 100%;
      border: none;
      padding: 10px;
    }
}

.reportButton {
    background-color: #ff4b2b;
    color: white;
    padding: 15px 25px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reportButton:hover {
    background-color: #bc412b;
}